*{
    font-family: 'Noto Serif KR', serif;
}

.comment-box {
    border: 1px solid black ;
    padding: 10px;
}

.reply {
    border : 1px solid rgb(151, 148, 148);
}

.content{
    border:1px solid rgb(45, 45, 45);
}