<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>카테고리별 게시판</h2>
        <!-- {% for category in categories %}
        <li><a href="{url 'category' category.name %}">{{category.name}}</a></li>
        {% endfor %} -->
    </div>
    <div>
        <!-- <h3>{{category_name}}</h3>
        {% for article in category_articles %}
            <div>
                <ul>
                    <li>{{article.title}}</li>
                    <li><a href="{% url 'detail' article.pk %}">보기</a></li>
                </ul>
            </div>
        {% endfor %} -->
    </div>
</body>
</html>

<!-- #카테고리를 추가 누르면 카테고리가 추가되고, -->