{% extends 'base.html' %}

{% block css %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static '../static/main.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">

{% endblock css %}

{% block title %}
<title>HY Blog</title>
{% endblock title %}

{% block body1 %}
<container class="container">
    <div class="board">
        <h3>게시판</h3>
        <ul>
        <li><a href="{% url 'category' 'programming' %}">programming </a>{{a}}</li>
        <li><a href="{% url 'category' 'music' %}">music </a>{{b}}</li>
        <li><a href="{% url 'category' 'study' %}">study </a>{{c}}</li>
        </ul>
    </div>

    <div>
        <h3 class="title">글 전체 목록</h3>
        <hr>
        <div class="list">
        {% for article in articles %}
        <a href="{% url 'detail' article.id %}"><div class="article_list">
            <li>{{article.category}}</li>
            <li>{{article.title}}</li>
            <li>{{article.created_at}}</li>
        </div></a>
        <hr>
        {% endfor %}
        </div>
    </div>
</container>

<div class="bottom">
    <a href="{% url 'list' %}">글 관리</a>
    <br>
    <a href="{% url 'new' %}">글 쓰러 가기</a>
</div>
{% endblock body1 %}




