<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HY Blog</title>
</head>
<body>
    <h2>블로그 입니다</h2>
    <div>
        메뉴를 보여주는 부분이 필요합니다. 그리고 list 페이지에도 추가합니다.
    </div>
    <div>
        <a href="{% url 'new' %}">글 쓰러 가기</a>
        <a href="{% url 'list' %}">글 목록 보러가기</a>
    </div>
    <div>
        <h3>카테고리를 선택해주세요</h3>
        <a href="{% url 'category' 'programming' %}">programming</a>
        <a href="{% url 'category' 'music' %}">music</a>
        <a href="{% url 'category' 'study' %}">study</a>
    </div>
</body>
</html>
