{% extends 'base.html' %}

{% block css %}
{% load static %}
{% endblock css %}

{% block title %}
<title>Update Article</title>
{% endblock title %}

{% block body1 %}
<h2>글 수정하기 페이지</h2>
<form action="" method="post">{%csrf_token%}
    <div>
        <div>글 제목</div>
        <input type="text" name="title" value="{{article.title}}" required/>
    </div>
    <div>
        <label for="category">카테고리 설정</label>
        <select name="category" id="category" default="{{article.category}}" >
            <option value="programming">programming</option>
            <option value="music">music</option>
            <option value="study">study</option>
        </select>
    </div>
   <div>
       <div>글 내용</div>
       <textarea required name="content" cols="30" rows="10" >{{article.content}}</textarea>
   </div>
   <button type="submit">수정 하기</button>
</form>
<a href="/">메인으로 돌아가기</a>
{% endblock body1 %}